.color-card {
  margin: 0 10px;
  padding: 5px;
 
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
  
}
.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
  
}

.color-card-role{
font-weight:600;
}

.color-card-contrast{
font-style:italic
}

.confirmation-popup {
  background: #fff;
  border: 2px solid #ff0000;
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}